<header class="header e-raised">
	<div class="container">
		<a class="link-home" href="/">den.codes/party</a>
		<nav class="links">
			<ul class="link-list">
				<li id="link-hej" class="link"><a href="#hej">Hej.</a></li>
				<li id="link-what" class="link"><a href="#what">What.</a></li>
				<li id="link-tell" class="link"><a href="#tell">Tell.</a></li>
				<li id="link-show" class="link"><a href="#show">Show.</a></li>
				<li id="link-connect" class="link"><a href="#connect">Connect.</a></li>
			</ul>
		</nav>
	</div>
</header>
