.home {
	padding: 42px 0;

	.lead {
		margin-bottom: 30px;
		height: 98px;
		width: 100%;

		border-bottom: solid 3px $c-black;

		> .lead-title {
			@include f-primary-bold;
			font-size: 38px;
			line-height: 98px;
		}
	}
}
