.progress-bar {
	margin-bottom: 40px;

	width: 100%;
	max-width: 694px;

	background-color: $c-light-grey;

	> span {
		display: block;
		height: 6px;
	}

	.bottom {
		width: 0%;
		background-color: $c-black;

		transition: width 270ms ease-out;

		&.-eighty {
			width: 80%;
		}

		&.two {
			width: 40%;
		}

		&.three {
			width: 60%;
		}

		&.four {
			width: 80%;
		}

		&.five {
			width: 100%;
		}

		&.zero {
			width: 0%;
		}
	}
}
