<div id="connect" class="connect section">
	<div class="lead">
		<h2 class="lead-title">Connect me to the <del>code</del> party.</h2>
	</div>
	<div class="item">
		<img class="social" src="/img/github.svg" href="Github" />
		<a href="https://github.com/okeeffed" target="_blank" class="cta">https://github.com/okeeffed</a>
	</div>
	<div class="item">
		<img class="social" src="/img/treehouse.svg" href="Treehouse" />
		<a href="https://teamtreehouse.com/dennisokeeffe" target="_blank" class="cta">https://teamtreehouse.com/dennisokeeffe</a>
	</div>
	<div class="item">
		<img class="social" src="/img/mail.svg" href="Email" />
		<p class="cta">hello@dennisdoes.party</p>
	</div>
	<div class="item">
		<img class="social" src="/img/linkedin.svg" href="LinkedIn" />
		<a href="https://www.linkedin.com/in/okeeffed/" target="_blank" class="cta">https://www.linkedin.com/in/okeeffed/</a>
	</div>
	<div class="item">
		<img class="social" src="/img/instagram.svg" href="Instagram" />
		<a href="https://www.instagram.com/dennisokeeffe" target="_blank" class="cta">https://www.instagram.com/dennisokeeffe</a>
	</div>
	<div class="item">
		<img href="https://www.facebook.com/okeeffe.d" class="social" src="/img/facebook.svg" href="facebook" />
		<a href="" target="_blank" class="cta">https://www.facebook.com/okeeffe.d</a>
	</div>
</div>
