<div class="show section">
	<div class="lead">
		<h2 class="lead-title">Show me more about the <del>party</del> code.</h2>
	</div>
	<div class="grid grid-container">
		{% for item in show_section.content %}
			<div class="item -show -twelve">
				<h4 class="heading">{{ item.title }}</h4>
				<a class="subheading" href="{{ item.site }}" class="heading">{{ item.site }}</a>
				<p class="copy">{{ item.copy }}</p>
				<p class="keywords">{{ item.keywords }}</p>
				<a class="link" href="{{ item.site }}" class="heading">Visit the party</a>
			</div>
		{% endfor %}
	</div>
</div>
