{% extends "master.njk" %}

{% block content %}
	<div class="home container">
		{% include "partials/home/hej.njk" %}
		<div class="main">
			{% include "partials/home/what.njk" %}
			{% include "partials/home/tell.njk" %}
			{% include "partials/home/show.njk" %}
			{% include "partials/home/connect.njk" %}
		</div>
	</div>
{% endblock %}
